extends ./../partials/head
block content
  .all-wrapper
    span.question-title Basit Soru
    span.question-text #{text_list.text1}
    span.question-poem #{text_list.text2},
    span.question-poem #{text_list.text3};
    span.question-poem #{text_list.text4},
    span.question-poem #{text_list.text5}!
    span.question-poem #{text_list.text6}...
    span.question-poem #{text_list.text7},
    span.question-poem #{text_list.text8}!!!
